<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

 <!-- 设置全局性赖加载 -->
     <settings>
    	<setting name="lazyLoadingEnabled" value="false" />
    </settings>
    <!--类型别名 -->
    <typeAliases>
        <typeAlias type="cn.clothing.pojo.Clothing" alias="clothing"/>
        <typeAlias type="cn.clothing.pojo.Image" alias="image"/>
        <typeAlias type="cn.clothing.pojo.Type" alias="type"/>
        <typeAlias type="cn.clothing.pojo.User" alias="user"/>
    </typeAliases>
   
</configuration>
