<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>/WEB-INF/jsp/login.jsp</welcome-file>
  </welcome-file-list>
  
   <!-- 设置编码格式 -->
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>
	        org.springframework.web.filter.CharacterEncodingFilter
	    </filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  <!-- 配置spring启动 -->
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  <!-- 设置监听 -->
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <!--配置spring MVC  -->
  <servlet>
  	<servlet-name>springMVC</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
 	<init-param>
 		<param-name>contextConfigLocation</param-name>
 		<param-value>classpath:springmvc-servlet.xml</param-value>
 	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>springMVC</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <!-- 测试用过滤器 -->
  <!-- <filter>
  	<filter-name>ceshi001</filter-name>
  	<filter-class>cn.clothing.filter.FristFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>ceshi001</filter-name>
  	<url-pattern>/clothing/index.html</url-pattern>
  </filter-mapping> -->
  <!-- 对管理页面进行过滤 ，请求管理页面时session中没有用户，跳到登陆页面-->
  <filter>
  	<filter-name>checkUser</filter-name>
  	<filter-class>cn.clothing.filter.CheckUserFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>checkUser</filter-name>
  	<url-pattern>/frame.html</url-pattern>
  </filter-mapping>
  <!-- 监听session创建和失效 -->
  <listener>
  	<listener-class>cn.clothing.listener.UserSessionListener</listener-class>
  </listener>
  <!-- 监听上下文初始化 -->
  <listener>
  	<listener-class>cn.clothing.listener.UserServletContextListener</listener-class>
  </listener>
</web-app>
